jedi==0.19.2
prompt_toolkit==3.0.51
pexpect==4.9.0
pyee==11.0.1
pillow>=8.0.0
colorama==0.4.6
playwright==1.42.0
pytest
ipython_pygments_lexers==1.1.1
pillow
asttokens==3.0.0
Jinja2==3.1.6
pure_eval==0.2.3
matplotlib-inline==0.1.7
pytest>=6.0.0
greenlet==3.0.3
traitlets==5.14.3
Pygments==2.19.1
ptyprocess==0.7.0
stack-data==0.6.3
networkx==3.5
cairosvg
pyvis==0.3.2
MarkupSafe==3.0.2
jsonpickle==4.1.0
ipython==9.2.0
parso==0.8.4
typing_extensions==4.13.2
cairosvg>=2.5.0
click==8.2.1
wcwidth==0.2.13
executing==2.2.0
decorator==5.2.1
mermaid_cli==0.1.2
